.heading {
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
}
.container {
  padding-top: 70px;
  padding-bottom: 60px;
}
.threeportraits {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.lasttwoportraits {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 200px;
  border-radius: 50%;
}
.profile {
  width: 200px;
}
.portrait {
  margin-top: 50pt;
  width: 300px;
  border-radius: 50%;
  border: 3px solid #113d3c;
  padding: 15px;
}
.portrait1 {
  width: 300px;
  margin-top: 65px;
  border-radius: 50%;
  border: 3px solid #113d3c;
  padding: 15px;
}
p {
  font-size: 20px;
  text-align: center;
}

button {
  display: inline-block;
  padding: 8px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  background-color: #113d3c;
  color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 480px) {
  .heading {
    font-size: 23px;
    text-align: center;
  }
  .container {
    padding-top: 70px;
    padding-bottom: 60px;
    margin-top: -20%;
  }
  .threeportraits {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10%;
  }
  .lasttwoportraits {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
    margin-top: -5%;
  }
  .profile {
    width: 100px;
  }
  .portrait {
    /* margin-top: 50pt; */
    width: 200px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  .portrait1 {
    width: 200px;
    /* margin-top: -130%; */
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  p {
    font-size: 20px;
    text-align: center;
  }

  button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  button:hover {
    background-color: #113d3c;
    color: #fff;
  }

  .profilefive {
    margin-top: -60%;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-size: 23px;
    text-align: center;
  }
  .container {
    padding-top: 70px;
    padding-bottom: 60px;
    margin-top: -10%;
  }
  .threeportraits {
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: -10%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .lasttwoportraits {
    flex-wrap: wrap;
    /* justify-content: center; */
    border-radius: 50%;
    margin-top: -1%;
  }
  .profile {
    width: 100px;
  }
  .portrait {
    /* margin-top: 50pt; */
    width: 200px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  .portrait1 {
    width: 200px;
    /* margin-top: -130%; */
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  p {
    font-size: 20px;
    text-align: center;
  }

  button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }
  button:hover {
    background-color: #113d3c;
    color: #fff;
  }

  .profilefive {
    margin-top: -40%;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }
  .container {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .threeportraits {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-content: space-evenly;
  }

  .threeportraits p {
    font-size: 25px;
  }
  .lasttwoportraits {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 350px;
    border-radius: 50%;
  }

  .lasttwoportraits p {
    font-size: 25px;
  }
  .profile {
    width: 200px;
  }
  .portrait {
    margin-top: 50pt;
    width: 300px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  .portrait1 {
    width: 300px;
    margin-top: 65px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  p {
    font-size: 20px;
    text-align: center;
  }

  button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }

  .profilefive {
    margin-top: -40%;
  }

  button:hover {
    background-color: #113d3c;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .heading {
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
  }
  .container {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .threeportraits {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }


  .lasttwoportraits {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    gap: 150px;
    margin-top: -1%;
    border-radius: 50%;
  }

  .profile {
    width: 200px;
  }
  .portrait {
    margin-top: 50pt;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  .portrait1 {
    width: 300px;
    margin-top: 65px;
    border-radius: 50%;
    border: 3px solid #113d3c;
    padding: 15px;
  }
  p {
    font-size: 30px;
    text-align: center;
  }


  button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
  }

  .profilefive img{
    width: 200px;
  }

  button:hover {
    background-color: #113d3c;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {

    .heading {
        font-size: 40px;
        margin-top: 30px;
        text-align: center;
      }
      .container {
        padding-top: 70px;
        padding-bottom: 60px;
      }
      .threeportraits {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
      }
      .lasttwoportraits {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        gap: 150px;
        border-radius: 50%;
      }
      .profile {
        width: 200px;
      }
      .portrait {
        margin-top: 50pt;
        width: 300px;
        border-radius: 50%;
        border: 3px solid #113d3c;
        padding: 15px;
      }
      .portrait1 {
        width: 300px;
        margin-top: 65px;
        border-radius: 50%;
        border: 3px solid #113d3c;
        padding: 15px;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
      
      button {
        display: inline-block;
        padding: 8px 20px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        border-radius: 20px;
        font-size: 18px;
        transition: background-color 0.3s, color 0.3s;
      }
      button:hover {
        background-color: #113d3c;
        color: #fff;
      }
      a {
        text-decoration: none;
        color: #000;
      }
}

